########################################
# Git
########################################
.git
.gitignore

########################################
# Node dependencies
########################################
node_modules/
.pnpm-store/

########################################
# Angular build outputs
########################################
dist/
build/
tmp/
temp/
out/

########################################
# Editor / IDE
########################################
.vscode/
.idea/
*.swp

########################################
# Logs
########################################
*.log

########################################
# OS Files
########################################
.DS_Store
Thumbs.db

########################################
# DevContainer & Podman (host-only)
########################################

.devcontainer/
podman/
docker-compose*
podman-compose*

########################################
# Anything not needed inside the build context
########################################
README.md
