version: "3.9"

services:
  frontend:
    image: ghcr.io/hallboard-team/node-v${NODE_VERSION:-22}_angular-v${ANGULAR_VERSION:-20}:latest
    container_name: ${CONTAINER_NAME}

    user: "0:0"
    working_dir: /workspaces/app

    volumes:
      - ../../:/workspaces/app:Z
      - ~/.cache/vscode-server-shared:/home/vscode/.vscode-server-shared:Z

    environment:
      - VSCODE_SERVER_DIR=/home/vscode/.vscode-server-shared

    ports:
      - "${PORT:-4200}:4200"

    command: >
      bash -c "
        node -v &&
        ng version || true &&
        sleep infinity
      "
