version: "3.9"

services:
  frontend:
    image: ghcr.io/hallboard-team/node-v${NODE_VERSION:-22}_angular-v${ANGULAR_VERSION:-20}:latest

    user: "0:0"
    working_dir: /workspaces/app

    volumes:
      - ..:/workspaces/app:Z
      - vscode:/vscode

    environment:
      VSCODE_SERVER_DIR: /vscode/vscode-server

    ports:
      - "${DEV_PORT:-4200}:4200"

volumes:
  vscode:
    external: true
